:root {
  --vp-c-accent: #35495e;
  --vp-c-brand: #44bd87;
  --vp-c-text-code: #5d6f5d;
  --vp-code-block-bg: rgba(125, 125, 125, 0.04);
  --vp-c-disabled-bg: rgba(125, 125, 125, 0.2);
  /* fix contrast on gray cards: used by --vp-c-text-2 */
  --vp-c-text-light-2: rgba(56 56 56 / 70%);
}

.dark {
  --vp-code-block-bg: rgba(0, 0, 0, 0.2);
  --vp-c-text-code: #c0cec0;
  /* fix contrast on gray cards: check the same above (this is the default) */
  --vp-c-text-dark-2: rgba(235, 235, 235, 0.6);
}

/**
 * Component: Code
 * -------------------------------------------------------------------------- */

:root {
  --vp-code-line-highlight-color: rgba(125, 125, 125, 0.2);
}

.dark {
  --vp-code-line-highlight-color: rgba(0, 0, 0, 0.5);
}
