.vp-doc div[class*='language-'] {
  margin: 0;
  border-radius: 8px;
}

:root {
  --vp-home-hero-name-background: -webkit-linear-gradient(80deg, var(--vp-c-brand-1) -20%, #35495e80);
  --vp-home-hero-image-background-image: linear-gradient(45deg, var(--vp-c-brand-1) 0%, #35495e80);
  --vp-home-hero-image-filter: blur(140px);
}

@media (max-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(100px);
  }
}

.VPSidebar::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
  background-color: #ebebeb;
}

.VPSidebar::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.25);
}

.VPSidebar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.VPSidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.01);
  border-radius: 10px;
  background-color: #ebebeb;
}

html.dark .VPSidebar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}

html.dark .VPSidebar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

html.dark .VPSidebar::-webkit-scrollbar-track {
  background-color: #333;
}
