.vp-doc div[class*='language-'] {
  margin: 0;
  border-radius: 8px;
}

:root {
  --vp-home-hero-name-background: -webkit-linear-gradient(80deg, var(--vp-c-brand-1) -20%, #35495e80);
  --vp-home-hero-image-background-image: linear-gradient(45deg, var(--vp-c-brand-1) 0%, #35495e80);
  --vp-home-hero-image-filter: blur(140px);
}

@media (max-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(100px);
  }
}

.VPSidebar::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
  background-color: #ebebeb;
}

.VPSidebar::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.25);
}

.VPSidebar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.VPSidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.01);
  border-radius: 10px;
  background-color: #ebebeb;
}

html.dark .VPSidebar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}

html.dark .VPSidebar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

html.dark .VPSidebar::-webkit-scrollbar-track {
  background-color: #333;
}

@keyframes brandColorAnimation {
  0% {
    --vp-c-indigo-1: #18794e;
    --vp-c-indigo-2: #299764;
    --vp-c-indigo-3: #30a46c;
  }

  12.5% {
    --vp-c-indigo-1: #3949ab;
    --vp-c-indigo-2: #3f51b5;
    --vp-c-indigo-3: #5c6bc0;
  }

  25% {
    --vp-c-indigo-1: #039be5;
    --vp-c-indigo-2: #03a9f4;
    --vp-c-indigo-3: #29b6f6;
  }

  50% {
    --vp-c-indigo-1: #c0ca33;
    --vp-c-indigo-2: #cddc39;
    --vp-c-indigo-3: #d4e157;
  }

  62.5% {
    --vp-c-indigo-1: #00acc1;
    --vp-c-indigo-2: #00bcd4;
    --vp-c-indigo-3: #26c6da;
  }

  75% {
    --vp-c-indigo-1: #7cb342;
    --vp-c-indigo-2: #8bc34a;
    --vp-c-indigo-3: #9ccc65;
  }

  87.5% {
    --vp-c-indigo-1: #1e88e5;
    --vp-c-indigo-2: #2196f3;
    --vp-c-indigo-3: #42a5f5;
  }

  100% {
    --vp-c-indigo-1: #43a047;
    --vp-c-indigo-2: #4caf50;
    --vp-c-indigo-3: #66bb6a;
  }
}

:root {
  animation: brandColorAnimation ease-in-out 10s 0s infinite alternate-reverse;
}

* {
  transition: all 0.5s ease-in-out;
}
