{
	"extends": "@flypeng",
	"rules": {
		"no-shadow": "off",
		"no-tabs": "off",
		"no-useless-escape": "off",
		"no-underscore-dangle": "off",
		"no-restricted-syntax": "off",
		"no-unused-expressions": "off",
		"array-callback-return": "off",
		"consistent-return": "off",
		"guard-for-in": "off",
		"import/no-extraneous-dependencies": "off",
		"eqeqeq": "off",
		"@typescript-eslint/ban-ts-comment": "off",
		"@typescript-eslint/ban-types": "off",
		"func-names": "off",
		"@typescript-eslint/no-this-alias": "off",
	}
}
